h1 { line-height: $h1-line-height; color: var(--color-text); }
h2 { line-height: $h2-line-height; color: var(--color-text); }
h3 { line-height: $h3-line-height; color: var(--color-text); }
h4 { line-height: $h4-line-height; color: var(--color-text); }
h5 { line-height: $h5-line-height; color: var(--color-text); }
h6 { line-height: $h6-line-height; color: var(--color-text); }
