// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

// AJAX spinner in Gravity Forms compatible for IE10+ and Edge
@keyframes gf-spinner-rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
_:-ms-lang(x), .gform_wrapper .gform_ajax_spinner { animation: gf-spinner-rotating 1s linear infinite; padding-left: 0 !important; }
