// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;