// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$grid-columns:       12;

// Colors
$brand-primary:         #27ae60;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;